* {
   margin : 0px;
   padding : 0px;
}

body {
   width: 100vw;
   display : grid;
   grid-template-columns : repeat(12, 1fr);
   justify-content : center;
   justify-items : center;
   background-color : #ddddff;
}
header > a {
   display : none; 
}
header > img {
   cursor: pointer;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 10px;
   width: 3vw;  
}

h1 {
   font-family : Marck Script;
   font-size : 120px;
   margin : 5p;
}

form {
   display: flex;
   flex-direction: column;
   align-items: center;
}
fieldset {
   width: 45vw;
   padding: 10px;
   margin-bottom: 10px;
}

fieldset:nth-child(2) {
   min-width: 450px;
   justify-content: space-evenly;
   align-items: center;
   
   display: flex;
}
legend {
   font-size: 1.5rem;
}
label {
   font-size : 20px;
   margin-right: 10px;
}
header {
   grid-column : 1 /span 12;
   text-align : center;
}
input {
   cursor: pointer;
   border-radius: 2px;
   padding: 15px 15px 15px 15px;
   margin-bottom: 10px;
   font-size: 20px;
   background-color: #eeeeff;
}
input[type="checkbox"] {
   transform: scale(1.2);
   margin-bottom: 0px;
}
input[type="submit"] {
   width: 150px;
   margin-bottom: 15px;
}
input[type="button"] {
   display: none;
}

main {
   grid-column : 1 /span 12;
   display: flex;
   flex-wrap : wrap;
   flex-direction : row;
   justify-content : space-evenly;
   text-align : center;
}

input[type="submit"]:hover, input[type="button"]:hover {
   background-color: #adadd3;
   color: #eeeeff;
}
input[type="text"]:hover{
   background-color: #adadd3;
}